.container-roi-payment {
font-family: 'Montserrat', sans-serif;

    background-color: #fff;
    border-radius: 8px;
    border-color: #fff;
    border-style: solid;
    padding: 2px;
	-webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);

}



.header-roi-payment {
    height: 74px;
	background-color: #2d9cdb;
}

.logo-roi img {
    margin-top: 6px;
}

span.logo-roi {
    float: left;
}

span.roi-payment-text-header {
    float: left;
    margin-left: 16px;
    color: #fff;
}

.footer-roi-payment {
    background-color: #2d9cdb;
    color: #fff;
    text-align: right;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
	font-size: 0.8rem;
    border-radius: 0px 0px 8px 8px;
}


.footer-roi-payment a {
    color: #fff;
	font-size: 0.8rem;
}



.roi-qr-code {
    float: left;
}

.roi-address {
    float: left;
}

.roi-amount-send {
    float: left;
}

.clear {
    clear: both;
}



.roi-amount-box {
    background-color: #fff;
    padding: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    float: left;
}

span.roi-label {
    display: block;
}

.roi-box {
    float: left;
    background-color: #2d9cdb;
    border-style: solid;
    border-width: 1px;
    border-color: #666;
    color: #fff;
    position: absolute;
    display: inline-block;
    padding: 4px;
}


.roi-address-box {
    word-wrap: break-word;
	    background-color: #fff;
    padding: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}

.roi-integrated-address {
    float: left;
}

.roi-integrated-address-box {
    word-wrap: break-word;
    background-color: #fff;
    padding: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}
.roi-qr-code-box img {
    width: 100%;
    
}

.roi-qr-code-box {
    width: fit-content;
    padding: 8px;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
	background-color: #fff;
}


.content-roi-payment {
    padding: 8px;
    background-color: #f9f9f9;

}


.roi-qr-code {
      padding: 8px;
}

.roi-address {
        padding: 8px;
}

.roi-amount-send {
       padding: 8px;
}

.roi-payment-text-header h2 {
    font-size: 1.2rem;
    margin: 0px;
    line-height: 70px;
}
textarea {
    width: 95%;
}

.roi-box .RoiTooltip {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.roi-box .RoiTooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.roi-box:hover .RoiTooltip {
    visibility: visible;
    opacity: 1;
}

/* desktop display */
@media only screen and  (min-width: 700px) and (max-width: 4280px) {

.page-container {

    padding-left: 11%;
    padding-right: 11%;

}

.roi-qr-code {
    width: 40%;
}

.roi-address {
    width: 60%;
}

.roi-amount-send {
    width: 100%;
}
.logo-roi img {
    margin-top: 6px;
    margin-left: 32px;
}
}
/* mobile display */

@media only screen and (min-width: 100px) and (max-width: 700px) {

.logo-roi img {
    margin-top: 6px;
    margin-left: 8px;
}

.page-container {

    padding-left: 2%;
    padding-right: 2%; 

}

.roi-qr-code-box {
    width: 100%;
}

.roi-address {
    width: 100%;
    
}

.roi-amount-send {
    width: 100%;
}

.roi-integrated-address{
        width:100%;
}

}
